@import "./layout/header.css";
@import "./layout/footer.css";
@import "./sections/hero-section.css";
@import "./sections/iphone-pro-section.css";
@import "./sections/iphone-section.css";
@import "./sections/promo-grid-section.css";
@import "./sections/apple-tv-section.css";
@import "./sections/macbook-ipad-section.css";

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

.internal-wrapper {
  width: 980px;
  padding: 0 10px;
  margin: 0 auto;
}

.links-wrapper {
  padding: 15px 0;
}

.links-wrapper ul {
  list-style: none;
}

.links-wrapper ul li {
  display: inline-block;
  padding-right: 20px;
}

.links-wrapper ul li a {
  color: #06c;
  text-decoration: none;
}

.links-wrapper ul li a:hover {
  color: #000;
}

.links-wrapper ul li a:after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f105";
  padding-left: 10px;
}
